<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>repl.it</title>
  <!-- bootstrapCDN CSS Link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  
	<link href="../static/style.css?q={{time}}" rel="stylesheet" type="text/css" />

  <!-- Bootstrap JS, Popper.js, and jQuery  Links-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <!-- jQuery Link -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js">

	</script>
</head>

<body>
  <div class = "nav-bar">
    <h1 class = "name"><a href="./index.html"> Superbia </a></h1>

      <h3><a href="./learn.html">Learn More</a></h3>
      <h3><a href="./resources.html">Resources</a></h3>
      <h3><a href="./involved.html">Get Involved</a></h3>
      <h3><a href="./news.html">News</a></h3>
    
	</div>



<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1573339584805-6ed85958b6e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1561057160-ce83b1bd72f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1560379790-5c670dbd9f4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Third slide">

      

  
    </div>
  </div>
</div>

<section class = "mission">
  <div class= "ourmission">
    <h2 class = "missionHeading">Our Mission</h2>
    <p class = "missionDescrip">To raise awareness and bring light to LGBTQ+ youth experiences and help provide LGBTQ+ youth with important and potentially life saving resources. </p>
    </div>
    <img class= "circle" src = "https://images.unsplash.com/photo-1528994782105-67bd4c2b4be5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80">
</section>






	
   

    <script src="../static/script.js?q={{time}}"></script>
  </body>
</html>